body{
    background-color: black;
    color: aliceblue;
    }
    .Kutu{
        height: 150px;
    }
    #kutu1{
        background-color: rgb(4, 110, 4);
        /* padding:50px ; ayı zamanda kutunun boyutuda artar */
        /* padding: 100px 50px 25px 75px; */
        padding: 50px 100px; /* üstten ve alttan 50 sağ ve soldan 100 demek */
    }
    #kutu2{
        background-color: rgb(130, 14, 31);
    }
    #kutu3{
        background-color: rgb(5, 110, 105);
    }
    span{
        display: block;
        width: 750px;
        padding: 20px;
    }